html {
    margin: 0%;
    padding: 0%;
}

/* Header */

header {
    background-color: mediumseagreen;
    height: 30vh;
}

.myH1 {
    color: rgb(255, 154, 65);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*list items styling*/
ul {
    li {
        cursor: pointer;
        list-style: circle;
    }
    li:hover {
        background-color:  rgb(255, 119, 0);
        color: white;
    }
}

/*To Do*/
#toDoContainer {
    background-color: lightyellow;
    color: rgb(255, 119, 0);
}

/*Done*/
#doneContainer {
    background-color: rgb(197, 255, 223);
    color: white;
}