html {
    margin: 0%;
    padding: 0%;
    background-color: green;
}

/* Header */

header {
    background-color: mediumseagreen;
    height: 30vh;
}

.myH1 {
    color: rgb(255, 180, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*list items styling*/
ul {
    li {
        cursor: pointer;
        list-style: circle;
    }
    li:hover {
        background-color: white;
    }
}

/*To Do*/
#toDoContainer {
    background-color: lightyellow;
    color: rgb(255, 119, 0);
}

/*Done*/
#doneContainer {
    background-color: rgb(239, 239, 239);
    color: white;
}